%h2= t('.title')
.row#users
  .col-md-12
    %table.table.table-bordered
      %tr
        %th= User.human_attribute_name :id
        %th.col-md-1= 'アイコン'
        %th.col-md-2= User.human_attribute_name :name
        %th.col-md-3= User.human_attribute_name :email
        %th.col-md-2= User.human_attribute_name :last_sign_in_at
        %th.col-md-2= User.human_attribute_name :updated_at
        %th.col-md-2= User.human_attribute_name :created_at
        %th
      - @users.each do |user|
        %tr
          %td.text-center= user.id
          %td.text-center= image_tag 'default_user.png', width: 50, height: 50
          %td= user.name
          %td= user.email
          %td.text-center= l(user.last_sign_in_at, format: :date) if user.last_sign_in_at.present?
          %td.text-center= l(user.updated_at, format: :date)
          %td.text-center= l(user.created_at, format: :date)
          %td.text-center.edit
            = link_to user_path(user) do
              %span.glyphicon.glyphicon-chevron-right
