%div#users-show.row
  %div.col-md-6
    %h2= t('.profile')
    %div.user-image
      = image_tag user_image_or_default(nil), width: 200, height: 200
    %div.user-info
      %div.row
        %div.col-md-12
          %h3.user-name= @user.name
      %div.row
        %div.col-md-12= @user.email
      .actions
        %div.user-book
          = fa_icon :book
          = t('.users_count_html', count: @user.books_count)
        - if current_user?(@user)
          %div.row
            %div.col-md-12
              = link_to t('.edit'), edit_user_registration_path, class: 'btn btn-default'
    - if current_user?(@user)
      %div.row
        %div.col-md-12
          %h2= t('.rented')
          - @rental_books.each do |book|
            %div.row.rental-item
              %div.col-md-12
                = image_tag book_image_or_default(book.image), width: 100, height: 130
                = form_for(book.user_books.find_by(user_id: current_user.id, return_date: nil), remote: true) do |f|
                  = f.submit t('.return'), class: 'btn btn-info'
  %div.col-md-6
    %h2=t('.rental_history')
    - @user_books.each do |user_book|
      = render 'books/book', book: user_book.book, user_book: user_book
      - if @user_books.last != user_book
        %hr
    = will_paginate @user_books, previous_label: 'Previous', next_label: 'Next'
