.row#password-forget
  .col-md-4.col-md-offset-4
    %h2= t('.title')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.password_field :password, placeholder: t('.password'), autofocus: true, autocomplete: 'off', class: 'form-control'
      .form-group
        = f.password_field :password_confirmation, placeholder: t('.password_confirmation'), autocomplete: 'off', class: 'form-control'
      .actions
        = f.submit t('.submit'), class: 'btn btn-primary'
