%div.row.book-item
  %div.col-xs-12
    %div.book-image
      = link_to book do
        = image_tag book_image_or_default(book.image), width: 100, height: 130
    %div.book-info
      - if defined?(user_book)
        - if book.rental?(user)
          %span.label.label-info= t('.on_loan')
        - else
          %span.label.label-success= t('.return')
      %h5.book-title
        = link_to book.title, book
      %div.book-author
        = book.author
      %div.book-publisher
        = book.publisher
      %div.book-published
        = book.published
      - if defined?(user_book)
        %div.book-rental-date
          = t('.rental_date', date: l(user_book.rental_date, format: :date))
