= form_for(book, html: { class: 'form-horizontal' }) do |f|
  = error_messages_for book
  .form-group
    = f.label :isbn, class: 'col-xs-3 control-label'
    .col-xs-9
      = f.text_field :isbn, autocomplete: 'off', autofocus: true, class: 'form-control'
  .form-group
    = f.label :title, class: 'col-xs-3 control-label'
    .col-xs-9
      = f.text_field :title, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :author, class: 'col-xs-3 control-label'
    .col-xs-9
      = f.text_field :author, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :publisher, class: 'col-xs-3 control-label'
    .col-xs-9
      = f.text_field :publisher, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :published, class: 'col-xs-3 control-label'
    .col-xs-9
      = f.text_field :published, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :url, class: 'col-xs-3 control-label'
    .col-xs-9
      = f.text_field :url, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :image, class: 'col-xs-3 control-label'
    .col-xs-9
      = f.text_field :image, autocomplete: 'off', class: 'form-control'
  .form-group
    .actions.col-xs-9.col-xs-offset-3
      = f.submit class: 'btn btn-primary'
      = link_to t('.back'), :back, class: 'btn btn-default'
