%div.row
  %h3 借りている本
  %div.col-md-3
    %ul.books
      = @rental_books.each do |book|
        %li.row
          %div.col-md-12.book-list
            = image_tag book.image, width: 100, height: 130
            = form_for(book.user_books.find_by(user_id: current_user.id, return_date: nil), remote: true) do |f|
              = f.submit '返却', class: 'btn btn-default'
  %div.col-md-6
    %ul.books
      = @books.each do |book|
        %li.row
          %div.col-md-12.book-list
            %div.book-image
              = image_tag book.image, width: 100, height: 130
            %div.book-isbn
              = book.isbn
            %div.book-title
              = link_to book.title, book
            %div.book-author
              = book.author
            %div.book-publisher
              %span= book.publisher
              %span= book.published
            - if book.rental?
              = button_tag '貸出中', class: 'btn', disabled: true
            - else
              = form_for(book.user_books.build, remote: true) do |f|
                = hidden_field_tag :book_id, book.id
                = f.submit '借りる', class: 'btn btn-primary'
