%div#books-list.row
  = link_to '新規登録', new_book_path, class: 'btn btn-info'
  %h3 借りている本
  %div.col-md-3
    %ul
      - @rental_books.each do |book|
        %li.row
          %div.col-md-12.book-list
            = image_tag book.image, width: 100, height: 130
            = form_for(book.user_books.find_by(user_id: current_user.id, return_date: nil), remote: true) do |f|
              = f.submit '返却', class: 'btn btn-default'
  %div.col-md-6
    %ul
      - @books.each do |book|
        %li.item
          %div.row
            %div.col-md-12
              %div.books-image
                = link_to book do
                  = image_tag book.image, width: 100, height: 130
              %div.books-content
                %h5.books-title
                  = link_to book.title, book
                %div.books-author
                  = book.author
                %div.books-publisher
                  = book.publisher
                %div.books-published
                  = book.published
