!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title Bookshelf
    = stylesheet_link_tag    'application', 'media': 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      - if flash[:notice]
        %p.alert.alert-success= flash[:notice]
      - if flash[:alert]
        %p.alert.alert-danger= flash[:alert]
      = yield
      = render 'layouts/footer'
      - if Rails.env.development?
        = debug(params)
